h3{
	color:#989898;
	font-size:18px;
	font-weight:normal;
	letter-spacing:-1px;
}
.lista-tiendas{
	/*position: relative;
	margin-top: 60px;
	margin-left: 50px;*/
	/*padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 20px;*/
	
}
	.lista-tiendas h2 {
		font-size: 1.5em;
	}
	.lista-tiendas ul{
		padding-left: 10px;
	}
		.lista-tiendas ul li{
			position: relative;
			margin-top: 10px;
			list-style-position: inside;
			list-style-type: square;
			font-size: 0.8em;		
		}
	.lista-tiendas ul a {
		text-decoration: none;
	}
	.lista-tiendas ul a:link { 
		color: #666; 
		text-decoration: none;
		
	}
	.lista-tiendas ul a:visited { 
		color: #666; 
	}
	.lista-tiendas ul a:hover {
		/*border: solid 1px #FFFF96;
		background-color: #FFFF96;*/
	}
	.lista-tiendas ul a:active { 
		color: #666; 
	}
		
.tienda{
	/*position: absolute;
	margin-left: 214px;
	margin-top: 0px;
	top: 60px;*/
	padding: 10px;
}
	.tienda p{
		color: #4d4d4d;
		font-size: 1em;
	}
	.tienda #nombre-tienda{
		color: #4d4d4d;
		position: absolute;
		width: 650px;
		font-size: 1.5em;
		font-variant: small-caps;
		font-weight: normal;
		margin-bottom: 15px;
		padding-bottom: 5px;
		background-image: url(/media/img/barraNovedades.png);
		background-position: bottom left;
		background-repeat: no-repeat;
	}
	.tienda ul{
		margin: 15px;
	}
		.tienda ul li{
			color: #4d4d4d;
			list-style: none;
			margin-bottom: 3px;
			font-size: 0.9em;
		}			
			.tienda ul li #map{
				margin: 15px;
				width: 600px;
				height: 400px;
				border: 1px dotted #7f7f7f;
			}
		.tienda ul #link-tienda{
			padding: 10px 20px 0px 0px;
			text-align: right;
		}
	.tienda ul a:link { color: #b0550e; }
	.tienda ul a:visited { color: #b0550e; }
	.tienda ul a:hover { text-decoration: none; }
	.tienda ul a:active { color: #ffa500; }
.mapa{
	background: #c0c0c0;
	border: 3px double #000000;
	margin-top: 10px;
	color: #ffffff;

}
#cont_izq .arte{
	border: 1px solid #ccc;
	background: rgba(255,255,255,0.7);
	margin-bottom:20px;
}	
	#cont_izq .arte a{
		width:218px;
		height:200px;
		font-size:11px;
		padding:2px;
	}
    #tienda-linea{
        margin-top:80px;
    }
    #phone{
        margin-top:10px;
        position:relative;
        width:290px;
        height:170px;
        margin:0 auto;
    }
        #phone div.icon{
            position:relative;
            float:left;
        }
        #phone div.text{
            position:relative;
            float:right;
            text-align:right;
            width:160px;
            top:15px;
            right:20px;
            font-family:Arial, Helvetica, sans-serif;
            font-size:18px;
        }
	/* tabla con el formulario de contacto */
	table input,table textarea{
				width: 250px;
				border: solid 1px #bfbfbf;
				padding: 4px;
				/*-moz-border-radius-topright: 4px;
				-moz-border-radius-topleft: 4px;
				-moz-border-radius-bottomright: 4px;
				-moz-border-radius-bottomleft: 4px;
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;*/
				color: #4d4d4d;
			}
			table #submit{
				margin-left: 165px;
				margin-top: 10px;
				width: 95px;
				background-color: #e5e5e5;										
				padding: 4px;	
				border: 1px solid #bfbfbf;
				-moz-border-radius: 0px;
				border-radius: 0px;
				cursor:pointer;
			}
			table td{
				font-size: 0.8em;
				font-weight: normal;
				padding: 5px;
				text-align: right;
			}
