{% extends "base.html"%}
{% load commontags %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/media/css/inicio.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}colorbox/example1/colorbox.css" media="screen" />
<link rel="stylesheet" href="/media/css/tortas.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="/media/css/torta-personalizada.css" media="screen" />    
<script src="/media/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}colorbox/colorbox/jquery.colorbox.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("a[rel='example1']").colorbox();
    });
</script>
{% endblock %}

{% block body %}
	<!-- Contenedor Izquierda -->
	<div id="cont_izq">
		<!-- Buscador de productos -->

		<!-- Personalizar la torta -->
		<div class="carrito2 cuadro-izq">
			<h2>Env&iacute;anos tu consulta a cerca de nuestras tortas para cumplea&ntilde;os o institucionales</h2>
			<form action="{% url cumpleanos %}" method="post">
				{{ form_imagen.as_p }}
				<input type="submit" name="go" value="Enviar Consulta"/>
			</form>
		</div>
	</div>
	 <div id="cont_der">
        <h3 class="bullet-trigger" idb="bullet-celebraciones"><img src="/media/img/arrow_r.png" class="bullet"/>CELEBRACIONES:</h3>
			<div id="celebraciones" class="textos">
            <p>
                Preparamos y decoramos sus tortas para todo tipo de celebracionescomo cumplea&ntilde;os, matrimonios, bautizos, primeras comuniones aniversarios y otros.
			</p>
			<p>
                A la amplia gama de propuestas que podemos hacer le a&ntilde;adimos tambi&eacute;n su toque personal para que la torta sea exactamente como la imagin&oacute;.
			</p>
			<p>
                Contamos tambi&eacute;n con mu&ntilde;ecos decorativos variados que completan la decoraci&oacute;n que completan la decoraci&oacute;n artesanal de nuestro pasteleros.

            </p>
			</div>
	     <div id="contenido_inicio">
	         <div id="slider">
	         	{% for tortas in cakes.object_list %}
					<a href="{{ tortas.imagen.extra_thumbnails.presentacion }}" rel="example1" title="{{ tortas.nombre|capfirst }}"><img src="{{ tortas.imagen.extra_thumbnails.resumen }}" alt="" title="{{ tortas.nombre }}" border="0"/></a>
				{% endfor %}
	         </div>
		 </div>
         <div class="pagination">
            <span class="step-links">
                {% if cakes.has_previous %}
                    <a href="?page={{ cakes.previous_page_number }}">anterior</a>
                {% endif %}

                <span class="current">
                    P&aacute;gina {{ cakes.number }} de {{ cakes.paginator.num_pages }}.
                </span>

                {% if cakes.has_next %}
                    <a href="?page={{ cakes.next_page_number }}">siguiente</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}