{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% block extrastyle %}
{{ block.super }}<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% if cl.formset %}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}">
</script>
{% endif %}
{{ media }}
{% if not actions_on_top and not actions_on_bottom %}
<style>
    #changelist table thead th:first-child {
        width: inherit
    }
</style>
{% endif %}
{% endblock %}
</head>
{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="/admin/paginas/place">
        {% trans "Home" %}
      </a>
       &rsaquo; 
       <a href="../">
         {{ app_label|capfirst }}
      </a>
      &rsaquo; 
      {{ cl.opts.verbose_name_plural|capfirst }}
    </div>
  {% endblock %}
{% endif %}
{% block coltype %}flex{% endblock %}
{% block content %}
{% if ubicacion %}
	{{ ubicacion.latitud }}<br/>
	{{ ubicacion.longitud }}
	
{% endif %}
<div>
	<form action="/modificar" method="post">
    <input type="text" name="latitud" id="lat" value=""/>
	<input type="text" name="longitud" id="lng" value=""/>
	<div id="map" style="position:relative;width:600px;height:400px;">
	</div>
	<input type="hidden" name="valorId" value="{{ id }}"/>
	<input type="submit" name="lugar" value="Grabar"/>	
	</form>
</div>
{% if msg %}
	<h6>{{ msg }}</h6>
{% endif %}

{% endblock %}